@import url('./variables.css');

/* Set the default typography for monospace elements */
tt,
code,
kbd,
samp,
pre {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
}

.jp-RunningSessions-itemShutdown > .jp-ToolbarButtonComponent {
  border: none !important;
}

.jp-SidePanel .jp-ToolbarButtonComponent {
  border: 1px solid #5642d6 !important;
  color: #5642d6 !important;
  svg path {
    fill: #5642d6;
  }
}

.jp-FileBrowser-toolbar
  .jp-ToolbarButtonComponent[data-command='launcher:create'] {
  background-color: #5642d6 !important;
  svg path {
    fill: white !important ;
  }

  transition: 0.5s;
}

.jp-FileBrowser-toolbar
  .jp-ToolbarButtonComponent[data-command='launcher:create']:hover {
  background-color: #3c3095 !important;
}

.jp-ToolbarButtonComponent:active {
  background-color: #e2e8f0 !important;
}

.jp-ToolbarButtonComponent:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

.jp-ToolbarButtonComponent:hover {
  background-color: #e2e8f0 !important;
}

.lm-Menu-content li:first-child {
  display: none;
}

.lm-TabBar-tabIcon {
  svg path {
    fill: #616161;
  }
}
.jp-StatusBar-TextItem,
.jp-Notification-Status-Text,
.jp-Notification-Status,
.jp-StatusBar-GroupItem {
  color: #616161 !important;
  background-color: transparent !important;
}

.f1m7xje8 {
  svg path {
    fill: #5642d6 !important;
  }
}

/* .jp-Launcher-kernelIcon::before {
  content: url('https://cdn.prod.website-files.com/6463cb6f0f0e5dbd8d3f1d78/6684413f115507826ef56e14_img-logo.png');
  display: block;
} */

.f1xpzunt {
  background-image: url('https://auth.vantagecompute.ai/resources/8iem2/login/armada/build/static/media/Logotype.9b09c0098cf424ff84893786edc31e95.svg') !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-top: 7px;
}

.f1xpzunt > svg {
  display: none !important;
}

.jp-console-icon-background-color {
  fill: #5642d6 !important;
}

.jp-console-icon-color {
  fill: #ffffff !important;
}

.jp-notebook-icon-color {
  fill: #5642d6 !important;
}

.lm-MenuBar-item {
  background-color: #eaeaea !important;
}

.jp-DirListing-item.jp-mod-selected {
  background-color: #5642d6 !important;
}

.jp-Launcher-sectionHeader
  > .favyox6
  > svg
  > .jp-terminal-icon-background-color[fill] {
  fill: #5642d6 !important;
}

.lm-DockPanel-tabBar .lm-TabBar-tab.jp-mod-current::before {
  background-color: #5642d6 !important;
}

.jp-Collapser {
  background: #5642d6 !important;
}

.jp-Notebook .jp-Cell .jp-InputPrompt {
  color: #5642d6 !important;
}
.cm-line {
  caret-color: #5642d6 !important;
}

.ͼo .cm-cursor,
.ͼo .cm-dropCursor {
  border-left: 1px solid #5642d6 !important;
}
.jp-Toolbar > .jp-Toolbar-item[data-jp-item-name='switch-view'],
.jp-Toolbar-item[data-jp-item-name='collapse-expand'] {
  font-size: 10px !important;
  font-family: none !important;
  box-sizing: content-box !important;
  line-height: 25px !important;
  margin-top: -5px !important;
}

.jp-ToolbarButton > .jp-ToolbarButtonComponent {
  border: none !important;
}
.jp-ToolbarButton > .jp-RunningSessions-shutdownAll {
  border: solid 1px #5642d6 !important;
}
